* {
    margin: 0; /* page cannot be vertically scrolled */
    box-sizing: border-box; 
}

body {
    display: flex;
    align-items: center; /* aligns items towards the center */
    justify-content: center;
    background-color: #D3D3D3; /* sets background colour */
    min-height: 80vh; /* moves elements downwards towards center */
}

.container{
    background-color: #FFFFFF; /* sets background colour of box */
    padding: 1rem; /* creates padding around box */
    border-radius: 0.3rem; /* curves edges of box */
    width: 800px; /* sets box width */
    max-width: 90%; /* sets maximum width of box */
    box-shadow: 0 10px 20px rgba(0,0,0,.13) /* creates shadow around box */
}


