/* Styling basic elements */

* {
  margin:0;
  box-sizing: border-box;  
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    min-height: 80vh;
}

.container{
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    width: 800px;
    padding: 1rem;
    box-shadow: 0 20px 40px rgba(0,0,0,.13);
    max-width: 90%;
}

.inputText{
    resize: none;
}
