/* ADJUST SHOW TEXT AND INPUT TEXT STYLING */

body {
    margin: 0; /* makes page no longer scrollable */
    display:flex;
    justify-content: center;
    align-items: center; /* aligns items in the center */
    min-height: 80vh;
    background-color: #D3D3D3; /* sets background color to light grey */
}

body {
    font-family:'JetBrains Mono'; /* adjusts font of body text */
}

.container{
    background-color: #FFFFFF; /* sets container background color to white */
    padding: 1rem; /* adds padding */
    border-radius: 0.4rem; /* curves edges of box */
    width: 700px;
    max-width: 90%;
}

.timer{
    position: relative;
    left: 45rem;
    bottom: 4rem;
    font-size: 2rem; /* sets timer font size */
}

.showText{
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-left: 18px;
    margin-right: 18px;
}

.inputText{
    border: 2px solid #D3D3D3; /* sets box border thickness and colour */
    border-radius: 0.4rem; /* curves the edges of the box */
    outline: none;
    width: 95%;
    height: 6rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: JetBrains Mono;
}

.success{
    color: #44b267;
}

.fail{
    background-color: #e81c4e;
}